workflow-n8n.json
{
  "name": "Automatyzacja Faktur - n8n",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": false,
          "forceReconnect": 1
        },
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "downloadAttachments": true
      },
      "name": "Email Trigger - Faktury",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "id": "node-1",
      "credentials": {
        "imap": {
          "id": "1",
          "name": "faktury@dotykowewlaczniki.pl"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Opóźnienie 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "node-2",
      "webhookId": "wait-webhook-id"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.attachments[0].contentType }}",
              "operation": "contains",
              "value2": "pdf"
            }
          ]
        }
      },
      "name": "Filtr - Tylko PDF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "id": "node-3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonParameters": true,
        "body": "{\"model\": \"claude-3-7-sonnet-20250219\", \"max_tokens\": 8192, \"temperature\": 1, \"messages\": [{\"role\": \"user\", \"content\": [{\"type\": \"document\", \"source\": {\"type\": \"base64\", \"media_type\": \"application/pdf\", \"data\": \"={{ $json.attachments[0].data.toString('base64') }}\"}}, {\"type\": \"text\", \"text\": \"Instrukcja ekstrakcji danych z faktur\\nNa podstawie dostarczonego tekstu faktury, znajd\\u017a i wyodr\\u0119bnij nast\\u0119puj\\u0105ce informacje. Zwr\\u00f3\\u0107 TYLKO obiekt JSON, bez \\u017cadnych dodatkowych komentarzy, oznacze\\u0144 formatowania czy znacznik\\u00f3w kodu.\\n\\nNajpierw sprawd\\u017a czy to jest faktura szukaj\\u0105c wska\\u017anik\\u00f3w:\\n\\nA. Bezpo\\u015brednie wskazania faktury:\\n- S\\u0142owa kluczowe: \\\"faktura\\\", \\\"FV\\\", \\\"VAT\\\", \\\"rachunek\\\", \\\"nale\\u017cno\\u015b\\u0107\\\", \\\"dokument ksi\\u0119gowy\\\", \\\"invoice\\\", \\\"invoiced\\\", \\\"billing\\\"\\n- Numery faktur (np. FV/2024/123, VAT/2024/01)\\n- Frazy \\\"w za\\u0142\\u0105czeniu faktura\\\", \\\"przesy\\u0142am faktur\\u0119\\\", \\\"za\\u0142\\u0105czam FV\\\"\\n\\nB. Po\\u015brednie wskazania faktury:\\n- Kwoty z okre\\u015bleniem \\\"netto\\\" lub \\\"brutto\\\"\\n- Kwoty poprzedzone znakiem waluty ($, \\u20ac, \\u00a3)\\n- Terminy p\\u0142atno\\u015bci (np. \\\"termin p\\u0142atno\\u015bci\\\", \\\"p\\u0142atne do\\\")\\n- Numery kont bankowych\\n- Dane do przelewu\\n- \\\"Do zap\\u0142aty\\\"\\n- \\\"Prosz\\u0119 o zap\\u0142at\\u0119\\\"\\n- \\\"Proforma\\\"\\n- \\\"Nota ksi\\u0119gowa\\\"\\n- \\\"Rozliczenie\\\"\\n- Frazy potwierdzaj\\u0105ce wystawienie dokumentu ksi\\u0119gowego:\\n * \\\"invoiced amount\\\"\\n * \\\"payment received\\\"\\n * \\\"payment confirmation\\\"\\n- Daty transakcji/p\\u0142atno\\u015bci w kontek\\u015bcie kwot\\n- Informacje o metodzie p\\u0142atno\\u015bci (np. \\\"payment method\\\", \\\"card ending with\\\")\\n\\nJe\\u015bli to nie jest faktura (brak powy\\u017cszych wska\\u017anik\\u00f3w), zwr\\u00f3\\u0107 obiekt JSON z warto\\u015bci\\u0105 \\\"NOT_INVOICE\\\" w polu invoice_number i null w pozosta\\u0142ych polach.\\n\\nJe\\u015bli to jest faktura, wyodr\\u0119bnij nast\\u0119puj\\u0105ce informacje:\\n\\nNumer faktury (invoice_number)\\nSzukaj: \\\"FV\\\", \\\"Faktura VAT\\\", \\\"Invoice no.\\\", \\\"Invoice number\\\"\\nFormaty: FV/2024/01/123, INV-2024-001, 2024/ABC/123\\n\\nDane dostawcy (supplier)\\nSzukaj: \\\"Sprzedawca\\\", \\\"Wystawca\\\", \\\"Supplier\\\", \\\"Seller\\\"\\nTylko nazwa firmy, bez adresu\\n\\nData wystawienia (issue_date)\\nSzukaj: \\\"Data wystawienia\\\", \\\"Issue date\\\", \\\"Invoice date\\\"\\nFormat wyj\\u015bciowy: YYYY-MM-DD\\n\\nData sprzeda\\u017cy (sale date)\\nSzukaj: \\\"Data sprzeda\\u017cy\\\"\\nFormat wyj\\u015bciowy: YYYY-MM-DD\\n\\nNIP sprzedawcy (seller's ID)\\nSzukaj w danych adresowych sprzedawcy \\\"NIP\\\"\\nFormat wyj\\u015bciowy: dziesi\\u0119cio liczbowy kod + mo\\u017ce by\\u0107 poprzedzony przedrostkiem Kraju np. PL lub z my\\u015blnikami\\n\\n\\nKwota netto (net_amount)\\nSzukaj: \\\"Warto\\u015b\\u0107 netto\\\", \\\"Net amount\\\", \\\"Subtotal\\\"\\nLiczba z kropk\\u0105, 2 miejsca po przecinku\\nBez waluty\\n\\nKwota brutto (gross_amount)\\nSzukaj: \\\"Warto\\u015b\\u0107 brutto\\\", \\\"Gross amount\\\", \\\"Total\\\", \\\"Do zap\\u0142aty\\\", \\\"Total due\\\"\\nLiczba z kropk\\u0105, 2 miejsca po przecinku\\nBez waluty\\n\\n\\nKwota VAT (vat amount)\\nSzukaj: \\\"Warto\\u015b\\u0107 VAT\\\",\\\"Kwota VAT\\\" \\\"vat amount\\\", \\\"Total \\\",\\nLiczba z kropk\\u0105, 2 miejsca po przecinku\\nBez waluty\\n\\nZasady przetwarzania:\\n- Dla nieznalezionych danych u\\u017cyj null\\n- Nie zgaduj brakuj\\u0105cych danych\\n- Przy wielu warto\\u015bciach wybierz najbardziej prawdopodobn\\u0105\\n- Ignoruj przyk\\u0142adowe i przekre\\u015blone dane\\n\\nFormat odpowiedzi:\\nZWR\\u00d3\\u0106 TYLKO PONI\\u017bSZY OBIEKT JSON, BEZ \\u017bADNYCH DODATKOWYCH ZNACZNIK\\u00d3W CZY KOMENTARZY:\\n{\\n\\\"invoice_number\\\": \\\"string or NOT_INVOICE or null\\\",\\n\\\"supplier\\\": \\\"string or null\\\",\\n\\\"issue_date\\\": \\\"YYYY-MM-DD or null\\\",\\n\\\"sale date\\\": \\\"YYYY-MM-DD or null\\\",\\n\\\"seller's ID\\\": number or null\\n\\\"net_amount\\\": number or null,\\n\\\"gross_amount\\\": number or null\\n\\\"vat amount\\\":number or null\\n}\\nNiekt\\u00f3re faktury b\\u0119d\\u0105 w innej walucie ni\\u017c PLN. Np. \\n*CZK, EUR,USD, HUF\\n\\nJe\\u015bli jest taka faktura to zastosuj przelicznik na PLN (polski z\\u0142oty) z ostatniego dnia kursu.\\n\\u200b\"}]}]}",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 70000
          }
        }
      },
      "name": "Claude AI - Skanowanie FV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ],
      "id": "node-4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Wyodrębnij tekst z odpowiedzi Claude\nconst response = $input.item.json;\nconst textContent = response.content.find(c => c.type === 'text')?.text || '';\n\n// Spróbuj sparsować JSON\ntry {\n  const invoiceData = JSON.parse(textContent);\n  return { json: invoiceData };\n} catch (error) {\n  // Jeśli parsowanie nie powiodło się, przekaż błąd\n  throw new Error('Failed to parse Claude response: ' + error.message);\n}"
      },
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "id": "node-5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "jsonParameters": true,
        "body": "{\"model\": \"gpt-4\", \"messages\": [{\"role\": \"system\", \"content\": \"You are a JSON repair assistant. Fix any malformed JSON and return only valid JSON.\"}, {\"role\": \"user\", \"content\": \"={{ $('Claude AI - Skanowanie FV').item.json.content[0].text }}\"}], \"response_format\": {\"type\": \"json_object\"}}"
      },
      "name": "OpenAI - Naprawa JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        480
      ],
      "id": "node-6",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "OpenAI API Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst fixedJson = response.choices[0].message.content;\nreturn { json: JSON.parse(fixedJson) };"
      },
      "name": "Parse Fixed JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        480
      ],
      "id": "node-7"
    },
    {
      "parameters": {
        "mode": "mergeByPosition"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1560,
        300
      ],
      "id": "node-8"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.invoice_number }}",
              "operation": "notEquals",
              "value2": "NOT_INVOICE"
            }
          ]
        }
      },
      "name": "Czy to faktura?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1780,
        300
      ],
      "id": "node-9"
    },
    {
      "parameters": {
        "application": "appbLQjOUm58ckRwu",
        "table": "tbl2jnB2TinJgSh6b",
        "options": {
          "filterByFormula": "=AND({Numer FV} = '{{ $json.invoice_number }}', {Dostawca} = '{{ $json.supplier }}')"
        }
      },
      "name": "Airtable - Sprawdź duplikaty",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ],
      "id": "node-10",
      "credentials": {
        "airtableApi": {
          "id": "4",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "name": "Router - Duplikat?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2220,
        300
      ],
      "id": "node-11"
    },
    {
      "parameters": {
        "operation": "search",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "name": "={{ $now.format('yyyy-MM') }}",
        "queryString": "=mimeType='application/vnd.google-apps.folder' and name='{{ $now.format('yyyy-MM') }}' and trashed=false"
      },
      "name": "GDrive - Sprawdź folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2440,
        200
      ],
      "id": "node-12",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.files?.length || 0 }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "name": "Folder istnieje?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2660,
        200
      ],
      "id": "node-13"
    },
    {
      "parameters": {
        "operation": "create",
        "name": "={{ $now.format('yyyy-MM') }}",
        "options": {
          "mimeType": "application/vnd.google-apps.folder"
        }
      },
      "name": "GDrive - Utwórz folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2660,
        100
      ],
      "id": "node-14",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByPosition"
      },
      "name": "Merge Folder",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2880,
        200
      ],
      "id": "node-15"
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $('Parse Claude Response').item.json.invoice_number }}_{{ $('Parse Claude Response').item.json.supplier }}.pdf",
        "resolveData": true,
        "options": {
          "parents": [
            "={{ $json.id || $json.files[0].id }}"
          ]
        },
        "binaryData": true,
        "binaryPropertyName": "={{ $('Email Trigger - Faktury').item.json.attachments[0].fileName }}"
      },
      "name": "GDrive - Upload FV",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3100,
        200
      ],
      "id": "node-16",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": "={{ $json.id }}",
        "permissions": {
          "permission": [
            {
              "role": "reader",
              "type": "anyone"
            }
          ]
        }
      },
      "name": "GDrive - Udostępnij",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3320,
        200
      ],
      "id": "node-17",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "application": "appbLQjOUm58ckRwu",
        "table": "tbl2jnB2TinJgSh6b",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Numer FV": "={{ $('Parse Claude Response').item.json.invoice_number }}",
            "Dostawca": "={{ $('Parse Claude Response').item.json.supplier }}",
            "Data wystawienia": "={{ $('Parse Claude Response').item.json.issue_date }}",
            "Data sprzedaży": "={{ $('Parse Claude Response').item.json['sale date'] }}",
            "NIP": "={{ $('Parse Claude Response').item.json['seller\\'s ID'] }}",
            "Netto": "={{ $('Parse Claude Response').item.json.net_amount }}",
            "Brutto": "={{ $('Parse Claude Response').item.json.gross_amount }}",
            "VAT": "={{ $('Parse Claude Response').item.json['vat amount'] }}",
            "Link do pliku": "={{ $('GDrive - Udostępnij').item.json.webViewLink }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "name": "Airtable - Utwórz rekord",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        3540,
        200
      ],
      "id": "node-18",
      "credentials": {
        "airtableApi": {
          "id": "4",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "channelId": {
          "__rl": true,
          "value": "faktury",
          "mode": "name"
        },
        "text": "=:white_check_mark: **Nowa faktura zarejestrowana**\\n\\n*Numer:* {{ $('Parse Claude Response').item.json.invoice_number }}\\n*Dostawca:* {{ $('Parse Claude Response').item.json.supplier }}\\n*Kwota brutto:* {{ $('Parse Claude Response').item.json.gross_amount }} PLN\\n*Data wystawienia:* {{ $('Parse Claude Response').item.json.issue_date }}\\n\\n<{{ $('GDrive - Udostępnij').item.json.webViewLink }}|Zobacz fakturę>",
        "otherOptions": {}
      },
      "name": "Slack - Nowa faktura",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        3760,
        200
      ],
      "id": "node-19",
      "credentials": {
        "slackApi": {
          "id": "6",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "channelId": {
          "__rl": true,
          "value": "faktury",
          "mode": "name"
        },
        "text": "=:warning: **Duplikat faktury wykryty**\\n\\n*Numer:* {{ $('Parse Claude Response').item.json.invoice_number }}\\n*Dostawca:* {{ $('Parse Claude Response').item.json.supplier }}\\n\\nTa faktura została już wcześniej zarejestrowana w systemie.",
        "otherOptions": {}
      },
      "name": "Slack - Duplikat",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        2440,
        400
      ],
      "id": "node-20",
      "credentials": {
        "slackApi": {
          "id": "6",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Email Trigger - Faktury": {
      "main": [
        [
          {
            "node": "Opóźnienie 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opóźnienie 5s": {
      "main": [
        [
          {
            "node": "Filtr - Tylko PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtr - Tylko PDF": {
      "main": [
        [
          {
            "node": "Claude AI - Skanowanie FV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI - Skanowanie FV": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "OpenAI - Naprawa JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Naprawa JSON": {
      "main": [
        [
          {
            "node": "Parse Fixed JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Fixed JSON": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Czy to faktura?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Czy to faktura?": {
      "main": [
        [
          {
            "node": "Airtable - Sprawdź duplikaty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Sprawdź duplikaty": {
      "main": [
        [
          {
            "node": "Router - Duplikat?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router - Duplikat?": {
      "main": [
        [
          {
            "node": "GDrive - Sprawdź folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Duplikat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDrive - Sprawdź folder": {
      "main": [
        [
          {
            "node": "Folder istnieje?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Folder istnieje?": {
      "main": [
        [
          {
            "node": "GDrive - Utwórz folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Folder",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GDrive - Utwórz folder": {
      "main": [
        [
          {
            "node": "Merge Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Folder": {
      "main": [
        [
          {
            "node": "GDrive - Upload FV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDrive - Upload FV": {
      "main": [
        [
          {
            "node": "GDrive - Udostępnij",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDrive - Udostępnij": {
      "main": [
        [
          {
            "node": "Airtable - Utwórz rekord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Utwórz rekord": {
      "main": [
        [
          {
            "node": "Slack - Nowa faktura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-12-15T17:22:33.864772",
      "updatedAt": "2025-12-15T17:22:33.864782",
      "id": "1",
      "name": "faktury"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-15T17:22:33.864784",
  "versionId": "1"
}