workflow-n8n.json
{
  "name": "Automatyzacja Faktur - n8n (Natywne Node'y)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": false
        },
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "downloadAttachments": true
      },
      "name": "Email Trigger - Faktury",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "id": "e8c5d952-3a1f-4c8e-b5f1-8d0a7c3e9f12"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.attachments?.[0]?.contentType }}",
              "operation": "contains",
              "value2": "pdf"
            }
          ]
        }
      },
      "name": "Filtr - Tylko PDF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "id": "a1b2c3d4-5e6f-7g8h-9i0j-k1l2m3n4o5p6"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Opóźnienie",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        680,
        300
      ],
      "id": "wait-node-id",
      "webhookId": "{{ $workflow.id }}"
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ 'Instrukcja ekstrakcji danych z faktur\nNa podstawie dostarczonego tekstu faktury, znajdź i wyodrębnij następujące informacje. Zwróć TYLKO obiekt JSON, bez żadnych dodatkowych komentarzy, oznaczeń formatowania czy znaczników kodu.\n\nNajpierw sprawdź czy to jest faktura szukając wskaźników:\n\nA. Bezpośrednie wskazania faktury:\n- Słowa kluczowe: \"faktura\", \"FV\", \"VAT\", \"rachunek\", \"należność\", \"dokument księgowy\", \"invoice\", \"invoiced\", \"billing\"\n- Numery faktur (np. FV/2024/123, VAT/2024/01)\n- Frazy \"w załączeniu faktura\", \"przesyłam fakturę\", \"załączam FV\"\n\nB. Pośrednie wskazania faktury:\n- Kwoty z określeniem \"netto\" lub \"brutto\"\n- Kwoty poprzedzone znakiem waluty ($, €, £)\n- Terminy płatności (np. \"termin płatności\", \"płatne do\")\n- Numery kont bankowych\n- Dane do przelewu\n- \"Do zapłaty\"\n- \"Proszę o zapłatę\"\n- \"Proforma\"\n- \"Nota księgowa\"\n- \"Rozliczenie\"\n- Frazy potwierdzające wystawienie dokumentu księgowego:\n * \"invoiced amount\"\n * \"payment received\"\n * \"payment confirmation\"\n- Daty transakcji/płatności w kontekście kwot\n- Informacje o metodzie płatności (np. \"payment method\", \"card ending with\")\n\nJeśli to nie jest faktura (brak powyższych wskaźników), zwróć obiekt JSON z wartością \"NOT_INVOICE\" w polu invoice_number i null w pozostałych polach.\n\nJeśli to jest faktura, wyodrębnij następujące informacje:\n\nNumer faktury (invoice_number)\nSzukaj: \"FV\", \"Faktura VAT\", \"Invoice no.\", \"Invoice number\"\nFormaty: FV/2024/01/123, INV-2024-001, 2024/ABC/123\n\nDane dostawcy (supplier)\nSzukaj: \"Sprzedawca\", \"Wystawca\", \"Supplier\", \"Seller\"\nTylko nazwa firmy, bez adresu\n\nData wystawienia (issue_date)\nSzukaj: \"Data wystawienia\", \"Issue date\", \"Invoice date\"\nFormat wyjściowy: YYYY-MM-DD\n\nData sprzedaży (sale date)\nSzukaj: \"Data sprzedaży\"\nFormat wyjściowy: YYYY-MM-DD\n\nNIP sprzedawcy (seller's ID)\nSzukaj w danych adresowych sprzedawcy \"NIP\"\nFormat wyjściowy: dziesięcio liczbowy kod + może być poprzedzony przedrostkiem Kraju np. PL lub z myślnikami\n\n\nKwota netto (net_amount)\nSzukaj: \"Wartość netto\", \"Net amount\", \"Subtotal\"\nLiczba z kropką, 2 miejsca po przecinku\nBez waluty\n\nKwota brutto (gross_amount)\nSzukaj: \"Wartość brutto\", \"Gross amount\", \"Total\", \"Do zapłaty\", \"Total due\"\nLiczba z kropką, 2 miejsca po przecinku\nBez waluty\n\n\nKwota VAT (vat amount)\nSzukaj: \"Wartość VAT\",\"Kwota VAT\" \"vat amount\", \"Total \",\nLiczba z kropką, 2 miejsca po przecinku\nBez waluty\n\nZasady przetwarzania:\n- Dla nieznalezionych danych użyj null\n- Nie zgaduj brakujących danych\n- Przy wielu wartościach wybierz najbardziej prawdopodobną\n- Ignoruj przykładowe i przekreślone dane\n\nFormat odpowiedzi:\nZWRÓĆ TYLKO PONIŻSZY OBIEKT JSON, BEZ ŻADNYCH DODATKOWYCH ZNACZNIKÓW CZY KOMENTARZY:\n{\n\"invoice_number\": \"string or NOT_INVOICE or null\",\n\"supplier\": \"string or null\",\n\"issue_date\": \"YYYY-MM-DD or null\",\n\"sale date\": \"YYYY-MM-DD or null\",\n\"seller's ID\": number or null\n\"net_amount\": number or null,\n\"gross_amount\": number or null\n\"vat amount\":number or null\n}\nNiektóre faktury będą w innej walucie niż PLN. Np. \n*CZK, EUR,USD, HUF\n\nJeśli jest taka faktura to zastosuj przelicznik na PLN (polski złoty) z ostatniego dnia kursu.\n​\\n\\nPDF w załączniku.' }}"
            }
          ]
        },
        "options": {
          "maxTokens": 4000,
          "temperature": 0.3
        },
        "text": "Instrukcja ekstrakcji danych z faktur\nNa podstawie dostarczonego tekstu faktury, znajdź i wyodrębnij następujące informacje. Zwróć TYLKO obiekt JSON, bez żadnych dodatkowych komentarzy, oznaczeń formatowania czy znaczników kodu.\n\nNajpierw sprawdź czy to jest faktura szukając wskaźników:\n\nA. Bezpośrednie wskazania faktury:\n- Słowa kluczowe: \"faktura\", \"FV\", \"VAT\", \"rachunek\", \"należność\", \"dokument księgowy\", \"invoice\", \"invoiced\", \"billing\"\n- Numery faktur (np. FV/2024/123, VAT/2024/01)\n- Frazy \"w załączeniu faktura\", \"przesyłam fakturę\", \"załączam FV\"\n\nB. Pośrednie wskazania faktury:\n- Kwoty z określeniem \"netto\" lub \"brutto\"\n- Kwoty poprzedzone znakiem waluty ($, €, £)\n- Terminy płatności (np. \"termin płatności\", \"płatne do\")\n- Numery kont bankowych\n- Dane do przelewu\n- \"Do zapłaty\"\n- \"Proszę o zapłatę\"\n- \"Proforma\"\n- \"Nota księgowa\"\n- \"Rozliczenie\"\n- Frazy potwierdzające wystawienie dokumentu księgowego:\n * \"invoiced amount\"\n * \"payment received\"\n * \"payment confirmation\"\n- Daty transakcji/płatności w kontekście kwot\n- Informacje o metodzie płatności (np. \"payment method\", \"card ending with\")\n\nJeśli to nie jest faktura (brak powyższych wskaźników), zwróć obiekt JSON z wartością \"NOT_INVOICE\" w polu invoice_number i null w pozostałych polach.\n\nJeśli to jest faktura, wyodrębnij następujące informacje:\n\nNumer faktury (invoice_number)\nSzukaj: \"FV\", \"Faktura VAT\", \"Invoice no.\", \"Invoice number\"\nFormaty: FV/2024/01/123, INV-2024-001, 2024/ABC/123\n\nDane dostawcy (supplier)\nSzukaj: \"Sprzedawca\", \"Wystawca\", \"Supplier\", \"Seller\"\nTylko nazwa firmy, bez adresu\n\nData wystawienia (issue_date)\nSzukaj: \"Data wystawienia\", \"Issue date\", \"Invoice date\"\nFormat wyjściowy: YYYY-MM-DD\n\nData sprzedaży (sale date)\nSzukaj: \"Data sprzedaży\"\nFormat wyjściowy: YYYY-MM-DD\n\nNIP sprzedawcy (seller's ID)\nSzukaj w danych adresowych sprzedawcy \"NIP\"\nFormat wyjściowy: dziesięcio liczbowy kod + może być poprzedzony przedrostkiem Kraju np. PL lub z myślnikami\n\n\nKwota netto (net_amount)\nSzukaj: \"Wartość netto\", \"Net amount\", \"Subtotal\"\nLiczba z kropką, 2 miejsca po przecinku\nBez waluty\n\nKwota brutto (gross_amount)\nSzukaj: \"Wartość brutto\", \"Gross amount\", \"Total\", \"Do zapłaty\", \"Total due\"\nLiczba z kropką, 2 miejsca po przecinku\nBez waluty\n\n\nKwota VAT (vat amount)\nSzukaj: \"Wartość VAT\",\"Kwota VAT\" \"vat amount\", \"Total \",\nLiczba z kropką, 2 miejsca po przecinku\nBez waluty\n\nZasady przetwarzania:\n- Dla nieznalezionych danych użyj null\n- Nie zgaduj brakujących danych\n- Przy wielu wartościach wybierz najbardziej prawdopodobną\n- Ignoruj przykładowe i przekreślone dane\n\nFormat odpowiedzi:\nZWRÓĆ TYLKO PONIŻSZY OBIEKT JSON, BEZ ŻADNYCH DODATKOWYCH ZNACZNIKÓW CZY KOMENTARZY:\n{\n\"invoice_number\": \"string or NOT_INVOICE or null\",\n\"supplier\": \"string or null\",\n\"issue_date\": \"YYYY-MM-DD or null\",\n\"sale date\": \"YYYY-MM-DD or null\",\n\"seller's ID\": number or null\n\"net_amount\": number or null,\n\"gross_amount\": number or null\n\"vat amount\":number or null\n}\nNiektóre faktury będą w innej walucie niż PLN. Np. \n*CZK, EUR,USD, HUF\n\nJeśli jest taka faktura to zastosuj przelicznik na PLN (polski złoty) z ostatniego dnia kursu.\n​"
      },
      "name": "OpenAI - Skanowanie FV",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        900,
        300
      ],
      "id": "openai-scan-node",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI response\nconst response = $input.item.json;\nlet textContent = '';\n\n// Różne formaty odpowiedzi OpenAI\nif (response.choices?.[0]?.message?.content) {\n  textContent = response.choices[0].message.content;\n} else if (response.message?.content) {\n  textContent = response.message.content;\n} else if (response.text) {\n  textContent = response.text;\n} else {\n  throw new Error('Nie można wyodrębnić odpowiedzi z OpenAI');\n}\n\n// Usuń markdown code blocks\ntextContent = textContent\n  .replace(/```json\\n?/g, '')\n  .replace(/```\\n?/g, '')\n  .trim();\n\n// Parse JSON\ntry {\n  const invoiceData = JSON.parse(textContent);\n  return { json: invoiceData };\n} catch (error) {\n  // Spróbuj wyciągnąć JSON z tekstu\n  const jsonMatch = textContent.match(/\\{[^}]+\\}/s);\n  if (jsonMatch) {\n    return { json: JSON.parse(jsonMatch[0]) };\n  }\n  throw new Error('Nie można sparsować JSON: ' + error.message);\n}"
      },
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "id": "parse-json-node",
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a JSON repair and extraction assistant. Extract invoice data and return ONLY valid JSON."
            },
            {
              "role": "user",
              "content": "={{ 'Instrukcja ekstrakcji danych z faktur\nNa podstawie dostarczonego tekstu faktury, znajdź i wyodrębnij następujące informacje. Zwróć TYLKO obiekt JSON, bez żadnych dodatkowych komentarzy, oznaczeń formatowania czy znaczników kodu.\n\nNajpierw sprawdź czy to jest faktura szukając wskaźników:\n\nA. Bezpośrednie wskazania faktury:\n- Słowa kluczowe: \"faktura\", \"FV\", \"VAT\", \"rachunek\", \"należność\", \"dokument księgowy\", \"invoice\", \"invoiced\", \"billing\"\n- Numery faktur (np. FV/2024/123, VAT/2024/01)\n- Frazy \"w załączeniu faktura\", \"przesyłam fakturę\", \"załączam FV\"\n\nB. Pośrednie wskazania faktury:\n- Kwoty z określeniem \"netto\" lub \"brutto\"\n- Kwoty poprzedzone znakiem waluty ($, €, £)\n- Terminy płatności (np. \"termin płatności\", \"płatne do\")\n- Numery kont bankowych\n- Dane do przelewu\n- \"Do zapłaty\"\n- \"Proszę o zapłatę\"\n- \"Proforma\"\n- \"Nota księgowa\"\n- \"Rozliczenie\"\n- Frazy potwierdzające wystawienie dokumentu księgowego:\n * \"invoiced amount\"\n * \"payment received\"\n * \"payment confirmation\"\n- Daty transakcji/płatności w kontekście kwot\n- Informacje o metodzie płatności (np. \"payment method\", \"card ending with\")\n\nJeśli to nie jest faktura (brak powyższych wskaźników), zwróć obiekt JSON z wartością \"NOT_INVOICE\" w polu invoice_number i null w pozostałych polach.\n\nJeśli to jest faktura, wyodrębnij następujące informacje:\n\nNumer faktury (invoice_number)\nSzukaj: \"FV\", \"Faktura VAT\", \"Invoice no.\", \"Invoice number\"\nFormaty: FV/2024/01/123, INV-2024-001, 2024/ABC/123\n\nDane dostawcy (supplier)\nSzukaj: \"Sprzedawca\", \"Wystawca\", \"Supplier\", \"Seller\"\nTylko nazwa firmy, bez adresu\n\nData wystawienia (issue_date)\nSzukaj: \"Data wystawienia\", \"Issue date\", \"Invoice date\"\nFormat wyjściowy: YYYY-MM-DD\n\nData sprzedaży (sale date)\nSzukaj: \"Data sprzedaży\"\nFormat wyjściowy: YYYY-MM-DD\n\nNIP sprzedawcy (seller's ID)\nSzukaj w danych adresowych sprzedawcy \"NIP\"\nFormat wyjściowy: dziesięcio liczbowy kod + może być poprzedzony przedrostkiem Kraju np. PL lub z myślnikami\n\n\nKwota netto (net_amount)\nSzukaj: \"Wartość netto\", \"Net amount\", \"Subtotal\"\nLiczba z kropką, 2 miejsca po przecinku\nBez waluty\n\nKwota brutto (gross_amount)\nSzukaj: \"Wartość brutto\", \"Gross amount\", \"Total\", \"Do zapłaty\", \"Total due\"\nLiczba z kropką, 2 miejsca po przecinku\nBez waluty\n\n\nKwota VAT (vat amount)\nSzukaj: \"Wartość VAT\",\"Kwota VAT\" \"vat amount\", \"Total \",\nLiczba z kropką, 2 miejsca po przecinku\nBez waluty\n\nZasady przetwarzania:\n- Dla nieznalezionych danych użyj null\n- Nie zgaduj brakujących danych\n- Przy wielu wartościach wybierz najbardziej prawdopodobną\n- Ignoruj przykładowe i przekreślone dane\n\nFormat odpowiedzi:\nZWRÓĆ TYLKO PONIŻSZY OBIEKT JSON, BEZ ŻADNYCH DODATKOWYCH ZNACZNIKÓW CZY KOMENTARZY:\n{\n\"invoice_number\": \"string or NOT_INVOICE or null\",\n\"supplier\": \"string or null\",\n\"issue_date\": \"YYYY-MM-DD or null\",\n\"sale date\": \"YYYY-MM-DD or null\",\n\"seller's ID\": number or null\n\"net_amount\": number or null,\n\"gross_amount\": number or null\n\"vat amount\":number or null\n}\nNiektóre faktury będą w innej walucie niż PLN. Np. \n*CZK, EUR,USD, HUF\n\nJeśli jest taka faktura to zastosuj przelicznik na PLN (polski złoty) z ostatniego dnia kursu.\n​' }}"
            }
          ]
        },
        "options": {
          "responseFormat": "json_object",
          "maxTokens": 2000
        }
      },
      "name": "OpenAI - Naprawa",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        1120,
        480
      ],
      "id": "openai-fix-node"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nlet textContent = response.choices?.[0]?.message?.content || response.message?.content || response.text || '';\ntextContent = textContent.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nreturn { json: JSON.parse(textContent) };"
      },
      "name": "Parse Fixed JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        480
      ],
      "id": "parse-fixed-node"
    },
    {
      "parameters": {
        "mode": "mergeByPosition"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1560,
        300
      ],
      "id": "merge-node"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.invoice_number }}",
              "operation": "notEquals",
              "value2": "NOT_INVOICE"
            }
          ]
        }
      },
      "name": "Czy to faktura?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ],
      "id": "check-invoice-node"
    },
    {
      "parameters": {
        "operation": "search",
        "application": "appbLQjOUm58ckRwu",
        "table": "tbl2jnB2TinJgSh6b",
        "options": {
          "filterByFormula": "=AND({Numer FV} = '{{ $json.invoice_number }}', {Dostawca} = '{{ $json.supplier }}')"
        }
      },
      "name": "Airtable - Sprawdź duplikaty",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ],
      "id": "airtable-search-node"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst isDuplicate = items.length > 0;\nreturn { json: { isDuplicate, count: items.length } };"
      },
      "name": "Sprawdź duplikat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ],
      "id": "check-dup-node"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isDuplicate }}",
              "value2": false
            }
          ]
        }
      },
      "name": "Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2440,
        300
      ],
      "id": "router-node"
    },
    {
      "parameters": {
        "operation": "search",
        "queryString": "=mimeType='application/vnd.google-apps.folder' and name='{{ $now.format('yyyy-MM') }}' and trashed=false"
      },
      "name": "GDrive - Szukaj folderu",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2660,
        200
      ],
      "id": "gdrive-search-node"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.files?.length || 0 }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "name": "Folder nie istnieje?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2880,
        200
      ],
      "id": "check-folder-node"
    },
    {
      "parameters": {
        "operation": "create",
        "name": "={{ $now.format('yyyy-MM') }}",
        "options": {
          "folderToCreateIn": {
            "mode": "list",
            "value": "root"
          }
        }
      },
      "name": "GDrive - Utwórz folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2880,
        100
      ],
      "id": "gdrive-create-node"
    },
    {
      "parameters": {
        "mode": "mergeByPosition"
      },
      "name": "Merge Folder",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3100,
        200
      ],
      "id": "merge-folder-node"
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $('Merge').item.json.invoice_number }}_{{ $('Merge').item.json.supplier }}.pdf",
        "binaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "parents": [
            "={{ $json.id || $json.files?.[0]?.id }}"
          ]
        }
      },
      "name": "GDrive - Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3320,
        200
      ],
      "id": "gdrive-upload-node"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": "={{ $json.id }}",
        "permissions": {
          "permissionsUi": {
            "permissionsValues": [
              {
                "role": "reader",
                "type": "anyone"
              }
            ]
          }
        }
      },
      "name": "GDrive - Udostępnij",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3540,
        200
      ],
      "id": "gdrive-share-node"
    },
    {
      "parameters": {
        "operation": "append",
        "application": "appbLQjOUm58ckRwu",
        "table": "tbl2jnB2TinJgSh6b",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Numer FV": "={{ $('Merge').item.json.invoice_number }}",
            "Dostawca": "={{ $('Merge').item.json.supplier }}",
            "Data wystawienia": "={{ $('Merge').item.json.issue_date }}",
            "Data sprzedaży": "={{ $('Merge').item.json['sale date'] }}",
            "NIP": "={{ $('Merge').item.json[\"seller's ID\"] }}",
            "Netto": "={{ $('Merge').item.json.net_amount }}",
            "Brutto": "={{ $('Merge').item.json.gross_amount }}",
            "VAT": "={{ $('Merge').item.json['vat amount'] }}",
            "Link do pliku": "={{ $('GDrive - Udostępnij').item.json.webViewLink }}"
          }
        }
      },
      "name": "Airtable - Zapisz",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        3760,
        200
      ],
      "id": "airtable-create-node"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "faktury",
          "mode": "name"
        },
        "text": "=:white_check_mark: *Nowa faktura*\n\n*Nr:* {{ $('Merge').item.json.invoice_number }}\n*Dostawca:* {{ $('Merge').item.json.supplier }}\n*Kwota:* {{ $('Merge').item.json.gross_amount }} PLN\n*Data:* {{ $('Merge').item.json.issue_date }}\n\n<{{ $('GDrive - Udostępnij').item.json.webViewLink }}|Zobacz>",
        "otherOptions": {}
      },
      "name": "Slack - Nowa",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        3980,
        200
      ],
      "id": "slack-new-node"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "faktury",
          "mode": "name"
        },
        "text": "=:warning: *Duplikat*\n\n*Nr:* {{ $('Merge').item.json.invoice_number }}\n*Dostawca:* {{ $('Merge').item.json.supplier }}\n\nFaktura już istnieje w systemie.",
        "otherOptions": {}
      },
      "name": "Slack - Duplikat",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        2660,
        400
      ],
      "id": "slack-dup-node"
    }
  ],
  "connections": {
    "Email Trigger - Faktury": {
      "main": [
        [
          {
            "node": "Filtr - Tylko PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtr - Tylko PDF": {
      "main": [
        [
          {
            "node": "Opóźnienie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opóźnienie": {
      "main": [
        [
          {
            "node": "OpenAI - Skanowanie FV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Skanowanie FV": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "OpenAI - Naprawa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Naprawa": {
      "main": [
        [
          {
            "node": "Parse Fixed JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Fixed JSON": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Czy to faktura?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Czy to faktura?": {
      "main": [
        [
          {
            "node": "Airtable - Sprawdź duplikaty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Sprawdź duplikaty": {
      "main": [
        [
          {
            "node": "Sprawdź duplikat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sprawdź duplikat": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "GDrive - Szukaj folderu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Duplikat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDrive - Szukaj folderu": {
      "main": [
        [
          {
            "node": "Folder nie istnieje?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Folder nie istnieje?": {
      "main": [
        [
          {
            "node": "GDrive - Utwórz folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Folder",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GDrive - Utwórz folder": {
      "main": [
        [
          {
            "node": "Merge Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Folder": {
      "main": [
        [
          {
            "node": "GDrive - Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDrive - Upload": {
      "main": [
        [
          {
            "node": "GDrive - Udostępnij",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDrive - Udostępnij": {
      "main": [
        [
          {
            "node": "Airtable - Zapisz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Zapisz": {
      "main": [
        [
          {
            "node": "Slack - Nowa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-15T17:49:15.756714",
  "versionId": "3"
}