workflow-n8n.json
{
  "name": "Automatyzacja Faktur - n8n (Anthropic Claude)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "options": {},
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "downloadAttachments": true
      },
      "name": "Email Trigger",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "id": "email-trigger-node"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.attachments?.[0]?.contentType }}",
              "operation": "contains",
              "value2": "pdf"
            }
          ]
        }
      },
      "name": "Filtr PDF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "id": "filter-pdf-node"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        680,
        300
      ],
      "id": "wait-node",
      "webhookId": "wait-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Przygotuj dane PDF jako base64 dla Anthropic\nconst items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const attachment = item.json.attachments?.[0];\n  if (!attachment) continue;\n  \n  // Konwertuj binary data do base64\n  const pdfBase64 = attachment.data.toString('base64');\n  \n  output.push({\n    json: {\n      pdfBase64: pdfBase64,\n      pdfName: attachment.fileName,\n      emailFrom: item.json.from,\n      emailSubject: item.json.subject\n    },\n    binary: item.binary\n  });\n}\n\nreturn output;"
      },
      "name": "Prepare PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "id": "prepare-pdf-node"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  \"model\": \"claude-3-5-sonnet-20241022\",\n  \"max_tokens\": 8192,\n  \"temperature\": 1,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"document\",\n          \"source\": {\n            \"type\": \"base64\",\n            \"media_type\": \"application/pdf\",\n            \"data\": $json.pdfBase64\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Instrukcja ekstrakcji danych z faktur\\nNa podstawie dostarczonego tekstu faktury, znajd\\u017a i wyodr\\u0119bnij nast\\u0119puj\\u0105ce informacje. Zwr\\u00f3\\u0107 TYLKO obiekt JSON, bez \\u017cadnych dodatkowych komentarzy, oznacze\\u0144 formatowania czy znacznik\\u00f3w kodu.\\n\\nNajpierw sprawd\\u017a czy to jest faktura szukaj\\u0105c wska\\u017anik\\u00f3w:\\n\\nA. Bezpo\\u015brednie wskazania faktury:\\n- S\\u0142owa kluczowe: \\\"faktura\\\", \\\"FV\\\", \\\"VAT\\\", \\\"rachunek\\\", \\\"nale\\u017cno\\u015b\\u0107\\\", \\\"dokument ksi\\u0119gowy\\\", \\\"invoice\\\", \\\"invoiced\\\", \\\"billing\\\"\\n- Numery faktur (np. FV/2024/123, VAT/2024/01)\\n- Frazy \\\"w za\\u0142\\u0105czeniu faktura\\\", \\\"przesy\\u0142am faktur\\u0119\\\", \\\"za\\u0142\\u0105czam FV\\\"\\n\\nB. Po\\u015brednie wskazania faktury:\\n- Kwoty z okre\\u015bleniem \\\"netto\\\" lub \\\"brutto\\\"\\n- Kwoty poprzedzone znakiem waluty ($, \\u20ac, \\u00a3)\\n- Terminy p\\u0142atno\\u015bci (np. \\\"termin p\\u0142atno\\u015bci\\\", \\\"p\\u0142atne do\\\")\\n- Numery kont bankowych\\n- Dane do przelewu\\n- \\\"Do zap\\u0142aty\\\"\\n- \\\"Prosz\\u0119 o zap\\u0142at\\u0119\\\"\\n- \\\"Proforma\\\"\\n- \\\"Nota ksi\\u0119gowa\\\"\\n- \\\"Rozliczenie\\\"\\n- Frazy potwierdzaj\\u0105ce wystawienie dokumentu ksi\\u0119gowego:\\n * \\\"invoiced amount\\\"\\n * \\\"payment received\\\"\\n * \\\"payment confirmation\\\"\\n- Daty transakcji/p\\u0142atno\\u015bci w kontek\\u015bcie kwot\\n- Informacje o metodzie p\\u0142atno\\u015bci (np. \\\"payment method\\\", \\\"card ending with\\\")\\n\\nJe\\u015bli to nie jest faktura (brak powy\\u017cszych wska\\u017anik\\u00f3w), zwr\\u00f3\\u0107 obiekt JSON z warto\\u015bci\\u0105 \\\"NOT_INVOICE\\\" w polu invoice_number i null w pozosta\\u0142ych polach.\\n\\nJe\\u015bli to jest faktura, wyodr\\u0119bnij nast\\u0119puj\\u0105ce informacje:\\n\\nNumer faktury (invoice_number)\\nSzukaj: \\\"FV\\\", \\\"Faktura VAT\\\", \\\"Invoice no.\\\", \\\"Invoice number\\\"\\nFormaty: FV/2024/01/123, INV-2024-001, 2024/ABC/123\\n\\nDane dostawcy (supplier)\\nSzukaj: \\\"Sprzedawca\\\", \\\"Wystawca\\\", \\\"Supplier\\\", \\\"Seller\\\"\\nTylko nazwa firmy, bez adresu\\n\\nData wystawienia (issue_date)\\nSzukaj: \\\"Data wystawienia\\\", \\\"Issue date\\\", \\\"Invoice date\\\"\\nFormat wyj\\u015bciowy: YYYY-MM-DD\\n\\nData sprzeda\\u017cy (sale date)\\nSzukaj: \\\"Data sprzeda\\u017cy\\\"\\nFormat wyj\\u015bciowy: YYYY-MM-DD\\n\\nNIP sprzedawcy (seller's ID)\\nSzukaj w danych adresowych sprzedawcy \\\"NIP\\\"\\nFormat wyj\\u015bciowy: dziesi\\u0119cio liczbowy kod + mo\\u017ce by\\u0107 poprzedzony przedrostkiem Kraju np. PL lub z my\\u015blnikami\\n\\n\\nKwota netto (net_amount)\\nSzukaj: \\\"Warto\\u015b\\u0107 netto\\\", \\\"Net amount\\\", \\\"Subtotal\\\"\\nLiczba z kropk\\u0105, 2 miejsca po przecinku\\nBez waluty\\n\\nKwota brutto (gross_amount)\\nSzukaj: \\\"Warto\\u015b\\u0107 brutto\\\", \\\"Gross amount\\\", \\\"Total\\\", \\\"Do zap\\u0142aty\\\", \\\"Total due\\\"\\nLiczba z kropk\\u0105, 2 miejsca po przecinku\\nBez waluty\\n\\n\\nKwota VAT (vat amount)\\nSzukaj: \\\"Warto\\u015b\\u0107 VAT\\\",\\\"Kwota VAT\\\" \\\"vat amount\\\", \\\"Total \\\",\\nLiczba z kropk\\u0105, 2 miejsca po przecinku\\nBez waluty\\n\\nZasady przetwarzania:\\n- Dla nieznalezionych danych u\\u017cyj null\\n- Nie zgaduj brakuj\\u0105cych danych\\n- Przy wielu warto\\u015bciach wybierz najbardziej prawdopodobn\\u0105\\n- Ignoruj przyk\\u0142adowe i przekre\\u015blone dane\\n\\nFormat odpowiedzi:\\nZWR\\u00d3\\u0106 TYLKO PONI\\u017bSZY OBIEKT JSON, BEZ \\u017bADNYCH DODATKOWYCH ZNACZNIK\\u00d3W CZY KOMENTARZY:\\n{\\n\\\"invoice_number\\\": \\\"string or NOT_INVOICE or null\\\",\\n\\\"supplier\\\": \\\"string or null\\\",\\n\\\"issue_date\\\": \\\"YYYY-MM-DD or null\\\",\\n\\\"sale date\\\": \\\"YYYY-MM-DD or null\\\",\\n\\\"seller's ID\\\": number or null\\n\\\"net_amount\\\": number or null,\\n\\\"gross_amount\\\": number or null\\n\\\"vat amount\\\":number or null\\n}\\nNiekt\\u00f3re faktury b\\u0119d\\u0105 w innej walucie ni\\u017c PLN. Np. \\n*CZK, EUR,USD, HUF\\n\\nJe\\u015bli jest taka faktura to zastosuj przelicznik na PLN (polski z\\u0142oty) z ostatniego dnia kursu.\\n\\u200b\"\n        }\n      ]\n    }\n  ]\n}}",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 70000
          }
        }
      },
      "name": "Claude - Skanowanie FV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "id": "claude-scan-node",
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credentials",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse odpowiedzi Claude\nconst response = $input.item.json;\nlet textContent = '';\n\n// Claude API zwraca content jako array\nif (response.content && Array.isArray(response.content)) {\n  const textBlock = response.content.find(c => c.type === 'text');\n  textContent = textBlock?.text || '';\n} else if (response.text) {\n  textContent = response.text;\n}\n\n// Usuń markdown code blocks\ntextContent = textContent\n  .replace(/```json\\n?/g, '')\n  .replace(/```\\n?/g, '')\n  .trim();\n\n// Parse JSON\ntry {\n  const invoiceData = JSON.parse(textContent);\n  return { json: invoiceData };\n} catch (error) {\n  // Spróbuj wyciągnąć JSON z tekstu\n  const jsonMatch = textContent.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    return { json: JSON.parse(jsonMatch[0]) };\n  }\n  throw new Error('Nie można sparsować JSON z Claude: ' + error.message);\n}"
      },
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "id": "parse-json-node",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  \"model\": \"claude-3-5-sonnet-20241022\",\n  \"max_tokens\": 4096,\n  \"temperature\": 0.3,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Previous extraction failed. Here's the raw response from first attempt: {{ $('Claude - Skanowanie FV').item.json.content[0].text }}. Please extract ONLY valid JSON with invoice data. Return pure JSON without any markdown formatting.\"\n    }\n  ]\n}",
        "options": {}
      },
      "name": "Claude - Retry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        480
      ],
      "id": "claude-retry-node",
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credentials",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nlet textContent = '';\n\nif (response.content && Array.isArray(response.content)) {\n  const textBlock = response.content.find(c => c.type === 'text');\n  textContent = textBlock?.text || '';\n}\n\ntextContent = textContent.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nreturn { json: JSON.parse(textContent) };"
      },
      "name": "Parse Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        480
      ],
      "id": "parse-retry-node"
    },
    {
      "parameters": {
        "mode": "mergeByPosition"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1780,
        300
      ],
      "id": "merge-node"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.invoice_number }}",
              "operation": "notEquals",
              "value2": "NOT_INVOICE"
            }
          ]
        }
      },
      "name": "Czy faktura?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ],
      "id": "check-invoice-node"
    },
    {
      "parameters": {
        "operation": "search",
        "application": "appbLQjOUm58ckRwu",
        "table": "tbl2jnB2TinJgSh6b",
        "options": {
          "filterByFormula": "=AND({Numer FV} = '{{ $json.invoice_number }}', {Dostawca} = '{{ $json.supplier }}')"
        }
      },
      "name": "Airtable Search",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ],
      "id": "airtable-search-node"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst isDuplicate = items.length > 0;\nreturn { json: { isDuplicate, count: items.length } };"
      },
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        300
      ],
      "id": "check-dup-node"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isDuplicate }}",
              "value2": false
            }
          ]
        }
      },
      "name": "Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2660,
        300
      ],
      "id": "router-node"
    },
    {
      "parameters": {
        "operation": "search",
        "queryString": "=mimeType='application/vnd.google-apps.folder' and name='{{ $now.format('yyyy-MM') }}' and trashed=false"
      },
      "name": "GDrive Search",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2880,
        200
      ],
      "id": "gdrive-search-node"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.files?.length || 0 }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "name": "Folder exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3100,
        200
      ],
      "id": "check-folder-node"
    },
    {
      "parameters": {
        "operation": "create",
        "name": "={{ $now.format('yyyy-MM') }}",
        "options": {}
      },
      "name": "GDrive Create",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3100,
        100
      ],
      "id": "gdrive-create-node"
    },
    {
      "parameters": {
        "mode": "mergeByPosition"
      },
      "name": "Merge Folder",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3320,
        200
      ],
      "id": "merge-folder-node"
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $('Merge').item.json.invoice_number }}_{{ $('Merge').item.json.supplier }}.pdf",
        "binaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "parents": [
            "={{ $json.id || $json.files?.[0]?.id }}"
          ]
        }
      },
      "name": "GDrive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3540,
        200
      ],
      "id": "gdrive-upload-node"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": "={{ $json.id }}",
        "permissions": {
          "permissionsUi": {
            "permissionsValues": [
              {
                "role": "reader",
                "type": "anyone"
              }
            ]
          }
        }
      },
      "name": "GDrive Share",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3760,
        200
      ],
      "id": "gdrive-share-node"
    },
    {
      "parameters": {
        "operation": "append",
        "application": "appbLQjOUm58ckRwu",
        "table": "tbl2jnB2TinJgSh6b",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Numer FV": "={{ $('Merge').item.json.invoice_number }}",
            "Dostawca": "={{ $('Merge').item.json.supplier }}",
            "Data wystawienia": "={{ $('Merge').item.json.issue_date }}",
            "Data sprzedaży": "={{ $('Merge').item.json['sale date'] }}",
            "NIP": "={{ $('Merge').item.json[\"seller's ID\"] }}",
            "Netto": "={{ $('Merge').item.json.net_amount }}",
            "Brutto": "={{ $('Merge').item.json.gross_amount }}",
            "VAT": "={{ $('Merge').item.json['vat amount'] }}",
            "Link do pliku": "={{ $('GDrive Share').item.json.webViewLink }}"
          }
        }
      },
      "name": "Airtable Create",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        3980,
        200
      ],
      "id": "airtable-create-node"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "faktury",
          "mode": "name"
        },
        "text": "=:white_check_mark: *Nowa faktura*\\n\\n*Nr:* {{ $('Merge').item.json.invoice_number }}\\n*Dostawca:* {{ $('Merge').item.json.supplier }}\\n*Kwota:* {{ $('Merge').item.json.gross_amount }} PLN\\n*Data:* {{ $('Merge').item.json.issue_date }}\\n\\n<{{ $('GDrive Share').item.json.webViewLink }}|Zobacz>",
        "otherOptions": {}
      },
      "name": "Slack New",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        4200,
        200
      ],
      "id": "slack-new-node"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "faktury",
          "mode": "name"
        },
        "text": "=:warning: *Duplikat*\\n\\n*Nr:* {{ $('Merge').item.json.invoice_number }}\\n*Dostawca:* {{ $('Merge').item.json.supplier }}\\n\\nFaktura już w systemie.",
        "otherOptions": {}
      },
      "name": "Slack Duplicate",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        2880,
        400
      ],
      "id": "slack-dup-node"
    }
  ],
  "connections": {
    "Email Trigger": {
      "main": [
        [
          {
            "node": "Filtr PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtr PDF": {
      "main": [
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Prepare PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare PDF": {
      "main": [
        [
          {
            "node": "Claude - Skanowanie FV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Skanowanie FV": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Claude - Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Retry": {
      "main": [
        [
          {
            "node": "Parse Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Retry": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Czy faktura?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Czy faktura?": {
      "main": [
        [
          {
            "node": "Airtable Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Search": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "GDrive Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDrive Search": {
      "main": [
        [
          {
            "node": "Folder exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Folder exists?": {
      "main": [
        [
          {
            "node": "GDrive Create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Folder",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GDrive Create": {
      "main": [
        [
          {
            "node": "Merge Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Folder": {
      "main": [
        [
          {
            "node": "GDrive Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDrive Upload": {
      "main": [
        [
          {
            "node": "GDrive Share",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDrive Share": {
      "main": [
        [
          {
            "node": "Airtable Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Create": {
      "main": [
        [
          {
            "node": "Slack New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-15T18:03:56.625320",
  "versionId": "4"
}